* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
font-size: 2rem;
font-weight: 500;
background-color: #2d8a6b;
color: azure;
}

.todo-btn {
      font-size: 2.5rem;
      color: black;
}

.check-btn {
      color: #8f8f8f;
      font-size: 1.5rem;
      background-color: transparent;
      border: none;
}

.todo-text {
      margin: 0;
}

.done {
      color: #03c734;
}

.undone {
      color: #8f8f8f;
}
.trash {
      color: #cf0101;
}
